.menu-overlay-btn {
    position: fixed;
    top:0;
    right: 0;
    margin:1rem;
    z-index: 101;
}

.navigation{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;
    color:$color-black;
    z-index: 100;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(0);
    transition:transform 400ms ease 400ms;

    &.active{
        transform:scaleY(1);
        transition:transform 400ms ease;

        .navigation__items{
            opacity: 1;
            transition: opacity 200ms ease 200ms;
        }

    }

    &__items{
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        opacity: 0;
        transition: opacity 200ms ease 400ms;


        a {

            text-decoration: none;
            color: $color-black;
            background: linear-gradient(120deg, transparent 50%, $color-black 50%);
            padding: 1rem;
            background-size: 230%;
            transition: background-position 300ms ease, transform 300ms ease, color 300ms ease;
            text-transform: uppercase;
            font-size: 1.5rem;

            &:hover, &:focus, &:active{
                background-position: 100%;
                transform: translateX(1rem);
                color:$color-white;
            }
        }

    }
}

@media screen and (max-width:$large-mobile){

    .navigation{
        
        transform: scaleY(1) translateX(100%);

        &.active {
            transform: scaleY(1) translateX(0);
        }

        &__items{
            a{
                font-size: 1.25rem;
            }
        }
    }
} 
