.btn{
    background-color: $color-white;
    color:$color-black;
    font-size: inherit;
    border: none;
    outline: none;
    padding: .75rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 1rem;
}