.btn{
    padding: .75rem 1.5rem;
    border-radius: 50px;
    background-color: $color-white;
    color:$color-black;

    &[color="primary"]{
        background-color: $color-black;
        background-color: var(--theme-color-default);
        color:$color-white;
    }

    &--flat{
        box-shadow: none;
    }
    
}

.icon-btn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0;
    background-color: $color-white;
    color:$color-black;
    display: flex;
    justify-content: center;
    align-items:center;
}

.btn, .icon-btn{
    @extend %btn-core;
    margin-top: 1rem;

    &__levels {
        position: relative;
        height: 22px;
        overflow: hidden;
        transition: width 200ms ease;
        opacity: 1;

    }

    [class^="btn__level--"]{
        transition:transform 200ms ease;
        white-space: nowrap;
        text-align:center!important;
    }

    &.active{
        [class^="btn__level--"]{
            transform: translateY(-100%);
        }

        .btn__level--third{
            opacity: 0;
        }
    }
    &.completed{
        [class^="btn__level--"]{
            transform: translateY(-200%);
        }
        .btn__level--second{
            opacity: 0;
        }
    }
}

a.btn{
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        text-underline-position: under;
    }   
}