.card{
    margin: 1rem;
    background-color: $color-card-white;
    padding: 1rem;
    border-radius: 2px;
    box-shadow:$card-shadow $color-black;
    color:$color-black;
    p{

        text-align: center;
    }
}