.input{
    position: relative;
    padding: 0 0 1rem 0;
    margin:1rem 0 0 0;

    &__field{
        border:none;
        outline:none;
        margin:0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        z-index: 10;
        color:$color-white;
        background-color: transparent;
        font:inherit;
        border: 2px solid $color-white;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: transparent;
        }
        &::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
        }
        &:-ms-input-placeholder { /* IE 10+ */
        color: transparent;
        }
        &:-moz-placeholder { /* Firefox 18- */
        color: transparent;
        }
        

    }

    & > textarea{
        resize: none;
        height: 8rem;
        width: 16rem;
    }

    &__placeholder{
        position: absolute;
        top: 1.75rem;
        left:calc(1rem + 2px);
        height: 1rem;
        line-height: 1rem;
        transition:transform 200ms ease, font-size 200ms ease;
        transform: translateY(-3rem);
        font-size: .8rem;
    }

    &__field:not(:focus):placeholder-shown + &__placeholder{
        transform: translateY(-1rem);
        font-size: 1rem;

    }
}