.section {
    width: 100%;
    padding: 1rem;
    position: relative; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:$gutter-vertical auto 0;

    &__header{
        
        padding: 1rem 2rem;
    }
    

    &--clip{

        margin-bottom: -5rem;
        padding: 5rem 0;

        @supports (clip-path:$section-clip){

            padding: 15rem 0rem;
            clip-path: $section-clip;
            z-index: 10;
            margin-bottom: -15rem;
        }
    }

    &__dark{
        color:$color-white;
        background-color: $color-black;
        background-color: var(--theme-color-default);
    }

    &__light{
        color:$color-black;
        background-color: $color-white;

    }

    &.footer{
        background-image:linear-gradient(90deg, rgba($color-black,0.4),rgba($color-black,0.6)), url("/assets/wallpapers/browser-black-paint.jpg");
        background-image: var(--theme-footer-bg-default);
        min-height: calc(50vh + 10rem);
        color:$color-white;
        padding-top: 2rem;
        
        @supports (clip-path:$section-clip){
            padding-top:10rem;
        }
    }
}

@media screen and (max-width:$small-tablet){
    .section{
        &__header{
            padding: 0;
        }
       
    }
} 

@media screen and (max-width: $large-mobile){
    .section{
        padding-left:0;
        padding-right: 0;

       
    } 
}

@media screen and (max-width: $small-mobile){
    .section{
        &__header{
            padding:1rem!important;
        }
       
    }
}