

// FONT
$font-size-default: 1.6rem;
$font-weight-default:400;
$font-main: 'Open Sans', sans-serif;
$font-accent: 'Open Sans Condensed', sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;