{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jasmine": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "classes": true,
      "modules": true,
      "destructuring": true
    }
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
