.container{
    background-image: url("/assets/wallpapers/browser-white-paint.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}