:root{
    --theme-color-default: #323232;
    --theme-bg-default: linear-gradient(90deg, rgba(50,50,50,0.4),rgba(50,50,50,0.6)), url("/assets/wallpapers/rawpixel_black_paint.jpg");
    --dark-section-bg:linear-gradient(90deg,#232c2f 0% 20%,#5e7272 20% 40%,#515151 40% 60%,#a49e9c 60% 80%,#e1d6d3 80% 100%);
}
//COLORS
$color-white:#fefefe;
$color-black:#323232;
$color-primary:#0577b9;
$color-card-white:#f9f9f9;

// FONT
$font-size-default: 1rem;
$font-weight-default:400;
$font-main: 'Open Sans', sans-serif;
$font-accent: 'Open Sans Condensed', sans-serif;
$font-title:'Playfair Display',serif;

// FLEX
$row-width: 71.25rem;
$row-break-width: 48rem;
$col-padding: 1rem 2rem;

//LAYOUT
$gutter-vertical: 5rem;
$section-clip : polygon(0 10rem,100% 0, 100% calc(100% - 10rem), 0 100%);



//SHADOWS
$card-shadow: 0px 3px 7px -4px;

//BREAKPOINTS

$small-tablet: 768px;
$large-mobile: 425px;
$small-mobile: 320px;