.row {
    max-width: $row-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

    }   

    [class^="col"] {
        flex: 1 1 auto;
        padding: $col-padding;
        box-sizing: border-box;
    }

    .col-1-of-3{
        width:33.33%;
        min-width: $row-break-width * 0.33;
    }
    .col-1-of-2{
        width:50%;
        min-width: $row-break-width * 0.5;
    }
    
    .col-2-of-3{
        width: 66.66%;
        min-width: $row-break-width * 0.66;
    }

    .col-break{
        width:100%;
        min-width: 100%;
    }

    @media screen and (max-width:$row-break-width) {
        [class^="col"]{
            min-width: 100%!important;
            max-width: 100%!important;
        }
    }

}