html {
    //Hardcoded since all is relative to this
    font-size: 16px;
}

body {
    font: $font-weight-default $font-size-default $font-main;
}

.title-large{
    font-family: $font-title;
    font-size: 5rem;
    text-align: center;
    color:$color-black;
    position: relative;
    display: block;
    padding-bottom: 1rem;

    &:after{
        position: absolute;
        content:"";
        bottom: 1rem;
        right: 15%;
        width: 50%;
        border-bottom:5px solid $color-black;
        border-radius: 50px;
    }
}
.title-small{
    font-family: $font-title;
    font-size: 2rem;
    text-align: center;
}