html {
    //Hardcoded since all is relative to this
    font-size: 16px;

}

body {
    font: $font-weight-default $font-size-default $font-main;
}

.title-large{
    font-family: $font-title;
    font-size: 5rem;
    color:$color-black;
    position: relative;
    display: block;
    margin: 0;
}
.title-small{
    font-family: $font-title;
    font-size: 2rem;
    text-align: center;
}


@media screen and (max-width:$small-tablet){

    .title-large{
        font-size: 3.5rem;
    }
} 

@media screen and (max-width:$large-mobile){

    .title-large{
        font-size: 2.75rem;
    }
} 