html {
    //Hardcoded since all is relative to this
    font-size: 16px;
}

body {
    font: $font-weight-default $font-size-default $font-main;
}

.title-large{
    font-family: $font-title;
    font-size: 5rem;
    text-align: center;
}
.title-small{
    font-family: $font-title;
    font-size: 2rem;
    text-align: center;
}