html {
    //Hardcoded since all is relative to this
    font-size: 16px;

}

body {
    font: $font-weight-default $font-size-default $font-main;
    color: $color-black;
}

.title-primary{
    font-family: $font-title;
    font-size: 5rem;
    color:inherit;
    position: relative;
    display: block;
    margin: 0;

    &--border{
        border: 4px solid $color-black;
        border-color:inherit;
        padding: 3rem 6rem;
    }
}

.title-secondary{
    font-family: $font-title;
    font-size: 2rem;
    text-align: center;

    &--border{

        display: inline-block;
        margin: 0 0 2rem;
        border: 3px solid $color-white;
        border-color:inherit;
        padding: 2rem 4rem;
    }

}

.first-letter{
    text-align:left;
    &::first-letter{
        @include first-letter;
    }
}


@media screen and (max-width:$small-tablet){

    .title-primary{
        font-size: 2.5rem;
        padding: 1.5rem 2rem;
    }
} 

@media screen and (max-width:$large-mobile){

    .title-primary{
        font-size: 2rem;
        border-width: 3px;
    }

    .title-secondary{
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
    }
} 

@media screen and (max-width: $small-mobile){
    
}