.u-ripple {
    @extend %ripple-core;
}

.u-ripple-light {
    @extend %ripple-core;

    &:after{
        
        background-image: radial-gradient(circle, $color-white 10%, transparent 10.01%);
    }
}


.u-text-center{
    text-align: center;
}
.u-text-right{
    text-align: right;
}

.u-text-left{
    text-align: left;
}

.fa-spin{
    animation-timing-function: ease;
    animation-duration:1s;
}